## Data Types
### Numbers

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
4 % 2 # mod function

0

In [8]:
5 % 2

1

In [11]:
name_of_var = 5 # assignment operator

In [12]:
name_of_var

5

### Strings

In [17]:
x = "I can't go"

In [18]:
print(x)

I can't go

In [19]:
x

"I can't go"

In [20]:
num = 12
name = "Sam"

In [26]:
("My number is {} and my name is {}.").format(num,name)

'My number is 12 and my name is Sam.'

In [28]:
("My number is {one} and my name is {two}, and more {two}.").format(one=num,two=name)

'My number is 12 and my name is Sam, and more Sam.'

In [27]:
f"My number is {num} and my name is {name}."

'My number is 12 and my name is Sam.'

In [29]:
s = "hello"
s[0] # first

'h'

In [30]:
s[-1] # last

'o'

In [32]:
s="abcdefghijk"

In [42]:
s[4:]
s[4::]

'efghijk'

In [41]:
s[:3] # "first 3 characters"

'abc'

In [43]:
s[3:6] # last index is not included because indexing starts at 0

'def'

### Lists

In [44]:
[1,2,3]

[1, 2, 3]

In [46]:
my_list = ['a','b','c']

In [47]:
my_list.append('d')

In [48]:
my_list

['a', 'b', 'c', 'd']

In [50]:
my_list[2]

'c'

In [51]:
my_list[1:3]

['b', 'c']

In [52]:
my_list[0] = 'New'

In [53]:
my_list

['New', 'b', 'c', 'd']

In [54]:
nest = [1,2, [3,4]]

In [55]:
nest

[1, 2, [3, 4]]

In [57]:
nest[2][1]

4

### Dictionaries

In [58]:
d = {'key1':'value','key2':123}

In [59]:
d['key1']

'value'

In [60]:
d['key2']

123

In [61]:
d = {'k1':[1,2,3]}

In [63]:
d['k1'][1]

2

In [64]:
d = {'k1':{'innerk1':[1,2,3]}}

In [65]:
d['k1']['innerk1']

[1, 2, 3]

### Booleans

In [66]:
True

True

In [67]:
False

False

### Tuples

In [68]:
t = (1,2,3) # tuples are immutable, unlike lists

### Sets

In [69]:
{1,1,1,2,2,3,3,4,4,5} # only unique elements

{1, 2, 3, 4, 5}

In [71]:
set([1,1,2,2,3,2,4])

{1, 2, 3, 4}

In [72]:
s = {1,2,3}

In [75]:
s.add(5)

In [76]:
s

{1, 2, 3, 5}

## Comparison Operators

In [77]:
1 > 2

False

In [78]:
1 == 2

False

In [79]:
1 <= 2

True

In [80]:
1 != 2

True

## Logic Operators

In [81]:
1 < 2 and 2 < 3

True

## if, elif, else Statements

In [85]:
if 1<2:
    print('correct')
elif 1<3: # only executes the first True condition
    print('also')
else:
    print('last')

correct

## for Loops

In [86]:
seq = [1,2,3,4,5]

In [88]:
for item in seq:
    print(item)

1
2
3
4
5

## while Loops

In [90]:
i = 1

while i < 5:
    print(f"i is: {i}")
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [91]:
for i in range(5):
    print(i)

0
1
2
3
4

## List Comprehension

In [95]:
list = [1,2,3,4]
out = []

In [96]:
for num in list:
    out.append(num**2)

out

[1, 4, 9, 16]

In [98]:
out = [num**2 for num in list] # list comprehension

## Functions

In [108]:
def my_func(name="John"):
    print(f"Hello, my name is {name}.")

In [109]:
my_func("Fotis")

Hello, my name is Fotis.

In [111]:
my_func(name="Jose")

Hello, my name is Jose.

In [112]:
my_func()

Hello, my name is John.

In [114]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [117]:
x = square(5)

In [119]:
num

4

In [150]:
import math

def root(num):
    """Returns the cube of a number.

    Args:
        num (float): A number.

    Raises:
        ValueError: The input cannot be negative.

    Returns:
        float: The cube of the input.
    """
    if num < 0:
        raise ValueError("Input number has to be non negative.")

    return math.sqrt(num)

In [151]:
root(2) # To see the docstring hover over the function.

1.4142135623730951